

/* -- Color Section --------------------------------------------------------- */

:root {

  /* grey */
  --grey-mid-high: #393e44;

}


/* -- Component Section ----------------------------------------------------- */

/* -- buttons */
.btn {
  
  width: 20%;
  max-width: 150px;
  
  border-radius: 50px;
  
}


/* -- Body Section ---------------------------------------------------------- */

/* -- container to increase space between ui sections */
.section {
  
  margin-top:50px;
  
}


/* -- cards used as a container for smaller cards (ex: latest observations) */
.container-card {
  
  background: var(--grey-mid-high);
  
}

