


/* -- Color Section --------------------------------------------------------- */

:root {

  /* grey */
  --grey-dark: #2d3037;
  --grey-mid-high: #393e44;
  --grey-mid-low: #494c51;
  --grey-light: #75787d;


  /* color */
  --color-light: #f0c197;
  --color-dark: #ce905d;

}


/* -- Body Section ---------------------------------------------------------- */

/* -- container to increase space between ui sections */
.section {
  
  margin-top:50px;
  
}


/*
.header {
  
  font-size:36pt;
  font-weight: bold;
  
}*/


/*.footer {
  
  font-size:9pt;
  
  margin-left: 20px;
  margin-bottom: 50px;
  
}*/

/* -- buttons */
.btn {
  
  width: 20%;
  max-width: 150px;
  
  border-radius: 50px;
  
}


/* -- cards used as a container for smaller cards (ex: latest observations) */
.container-card {
  
  background: var(--grey-mid-high);
  
}


/*.obs {

  font-size: 10pt;
  
  background: rgb(19,19,19);
  background: linear-gradient(45deg, rgba(19,19,19,1) 0%, rgba(36,36,36,1) 50%, rgba(41,41,41,1) 100%); 
  
  border-radius: 10px;
  border: solid 1px #F8EAD3;
  
}*/
